In [2]:
import pandas as pd

In [3]:
category_tree = pd.read_csv(r"C:\Users\apasi\Desktop\NEW Beginning\RealTime_Product_Recommendation\data\raw\category_tree.csv")
event = pd.read_csv(r"C:\Users\apasi\Desktop\NEW Beginning\RealTime_Product_Recommendation\data\raw\events.csv")
item_properties_part1 = pd.read_csv(r"C:\Users\apasi\Desktop\NEW Beginning\RealTime_Product_Recommendation\data\raw\item_properties_part1.csv")
item_properties_part2 = pd.read_csv(r"C:\Users\apasi\Desktop\NEW Beginning\RealTime_Product_Recommendation\data\raw\item_properties_part2.csv")

In [4]:
category_tree.head()

   categoryid  parentid
0        1016     213.0
1         809     169.0
2         570       9.0
3        1691     885.0
4         536    1691.0

In [5]:
event.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [6]:
# Check the shape of each dataset
print(f"Category Tree Shape: {category_tree.shape}")
print(f"Event Shape: {event.shape}")
print(f"Item Properties Part 1 Shape: {item_properties_part1.shape}")
print(f"Item Properties Part 2 Shape: {item_properties_part2.shape}")

Category Tree Shape: (1669, 2)
Event Shape: (2756101, 5)
Item Properties Part 1 Shape: (10999999, 4)
Item Properties Part 2 Shape: (9275903, 4)

In [7]:
# Check for missing values
print("\nMissing values in Category Tree:")
print(category_tree.isnull().sum())
print("\nMissing values in Event:")
print(event.isnull().sum())
print("\nMissing values in Item Properties Part 1:")
print(item_properties_part1.isnull().sum())
print("\nMissing values in Item Properties Part 2:")
print(item_properties_part2.isnull().sum())

Missing values in Category Tree:
categoryid     0
parentid      25
dtype: int64

Missing values in Event:
timestamp              0
visitorid              0
event                  0
itemid                 0
transactionid    2733644
dtype: int64

Missing values in Item Properties Part 1:
timestamp    0
itemid       0
property     0
value        0
dtype: int64

Missing values in Item Properties Part 2:
timestamp    0
itemid       0
property     0
value        0
dtype: int64

In [8]:
# Summary statistics for numerical features
print("\nSummary statistics for Category Tree:")
print(category_tree.describe())
print("\nSummary statistics for Event:")
print(event.describe())
print("\nSummary statistics for Item Properties Part 1:")
print(item_properties_part1.describe())
print("\nSummary statistics for Item Properties Part 2:")
print(item_properties_part2.describe())

Summary statistics for Category Tree:
        categoryid     parentid
count  1669.000000  1644.000000
mean    849.285201   847.571168
std     490.195116   505.058485
min       0.000000     8.000000
25%     427.000000   381.000000
50%     848.000000   866.000000
75%    1273.000000  1291.000000
max    1698.000000  1698.000000

Summary statistics for Event:
          timestamp     visitorid        itemid  transactionid
count  2.756101e+06  2.756101e+06  2.756101e+06   22457.000000
mean   1.436424e+12  7.019229e+05  2.349225e+05    8826.497796
std    3.366312e+09  4.056875e+05  1.341954e+05    5098.996290
min    1.430622e+12  0.000000e+00  3.000000e+00       0.000000
25%    1.433478e+12  3.505660e+05  1.181200e+05    4411.000000
50%    1.436453e+12  7.020600e+05  2.360670e+05    8813.000000
75%    1.439225e+12  1.053437e+06  3.507150e+05   13224.000000
max    1.442545e+12  1.407579e+06  4.668670e+05   17671.000000

Summary statistics for Item Properties Part 1:
          timestamp        itemid
count  1.100000e+07  1.100000e+07
mean   1.435158e+12  2.333851e+05
std    3.327653e+09  1.348258e+05
min    1.431227e+12  0.000000e+00
25%    1.432436e+12  1.165150e+05
50%    1.433646e+12  2.334990e+05
75%    1.437880e+12  3.501860e+05
max    1.442113e+12  4.668660e+05

Summary statistics for Item Properties Part 2:
          timestamp        itemid
count  9.275903e+06  9.275903e+06
mean   1.435156e+12  2.333968e+05
std    3.327970e+09  1.348682e+05
min    1.431227e+12  0.000000e+00
25%    1.432436e+12  1.165175e+05
50%    1.433646e+12  2.334620e+05
75%    1.437880e+12  3.504470e+05
max    1.442113e+12  4.668660e+05

In [9]:
event = event.drop(["transactionid"],axis=1)

In [10]:
category_tree['parentid'] = category_tree['parentid'].fillna('default_value')  # Replace 'default_value' with the value you want

In [11]:
item_properties = pd.concat([item_properties_part1,item_properties_part2])

In [12]:
item_properties.isnull().sum()

timestamp    0
itemid       0
property     0
value        0
dtype: int64

In [13]:
event.isnull().sum()

timestamp    0
visitorid    0
event        0
itemid       0
dtype: int64

In [14]:
category_tree.isnull().sum()

categoryid    0
parentid      0
dtype: int64

In [15]:
event.head()

       timestamp  visitorid event  itemid
0  1433221332117     257597  view  355908
1  1433224214164     992329  view  248676
2  1433221999827     111016  view  318965
3  1433221955914     483717  view  253185
4  1433221337106     951259  view  367447

In [16]:
category_tree.head()

   categoryid parentid
0        1016    213.0
1         809    169.0
2         570      9.0
3        1691    885.0
4         536   1691.0

In [17]:
item_properties.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [18]:
# Example: Explore rows with non-numeric properties
non_numeric_properties = item_properties[item_properties["property"].apply(lambda x: isinstance(x, str))]
print(non_numeric_properties.head())

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [19]:
item_properties["property"] = item_properties["property"].apply(lambda x: int(x) if str(x).isdigit() else x)

In [20]:
# Example: Map specific strings to categories or numeric labels
mapping = {"available": 1, "categoryid": 2}
item_properties["property"] = item_properties["property"].replace(mapping)

C:\Users\apasi\AppData\Local\Temp\ipykernel_22412\712552535.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  item_properties["property"] = item_properties["property"].replace(mapping)

In [21]:
item_properties["property"].value_counts()

property
888     3000398
790     1790516
1       1509288
2        788454
6        631471
         ...
634           1
57            1
1091          1
522           1
769           1
Name: count, Length: 1102, dtype: int64

In [22]:
item_properties = item_properties.drop(["value"],axis=1)

In [23]:
item_properties.head()

       timestamp  itemid  property
0  1435460400000  460429         2
1  1441508400000  206783       888
2  1439089200000  395014       400
3  1431226800000   59481       790
4  1431831600000  156781       917

In [24]:
event.head()

       timestamp  visitorid event  itemid
0  1433221332117     257597  view  355908
1  1433224214164     992329  view  248676
2  1433221999827     111016  view  318965
3  1433221955914     483717  view  253185
4  1433221337106     951259  view  367447

In [25]:
event.shape

(2756101, 4)

In [26]:
import numpy as np

# Set a random seed for reproducibility
np.random.seed(42)

# Randomly sample 50% of the rows and keep them, remove the other 50%
event_removed = event.drop(event.sample(frac=0.5, random_state=42).index)
item_properties_removed = item_properties.drop(item_properties.sample(frac=0.5, random_state=42).index)

# View the new datasets
print(event_removed.head())
print(item_properties_removed.head())

        timestamp  visitorid event  itemid
2   1433221999827     111016  view  318965
4   1433221337106     951259  view  367447
6   1433221923240     810725  view  443030
8   1433220899221     824915  view  428805
10  1433222162373     176446  view   10572
        timestamp  itemid  property
7   1431831600000  264312         6
8   1433646000000  229370       202
10  1439089200000  450113       888
11  1435460400000  244127       400
24  1433646000000  419661       134

In [27]:
# Perform the merge after randomly removing half of the data
merged_data = event_removed.merge(item_properties_removed, on="itemid", how="left")

# View the merged data
print(merged_data.head())

     timestamp_x  visitorid event  itemid   timestamp_y  property
0  1433221999827     111016  view  318965           NaN       NaN
1  1433221337106     951259  view  367447  1.437275e+12       0.0
2  1433221337106     951259  view  367447  1.431227e+12     283.0
3  1433221337106     951259  view  367447  1.437880e+12     888.0
4  1433221337106     951259  view  367447  1.442113e+12     888.0

In [28]:
merged_data.isna().sum()

timestamp_x         0
visitorid           0
event               0
itemid              0
timestamp_y    128284
property       128284
dtype: int64

In [29]:
# Remove rows with NaN values
cleaned_data = merged_data.dropna()

# View the cleaned data
print(cleaned_data.head())

     timestamp_x  visitorid event  itemid   timestamp_y  property
1  1433221337106     951259  view  367447  1.437275e+12       0.0
2  1433221337106     951259  view  367447  1.431227e+12     283.0
3  1433221337106     951259  view  367447  1.437880e+12     888.0
4  1433221337106     951259  view  367447  1.442113e+12     888.0
5  1433221337106     951259  view  367447  1.433041e+12     451.0

In [30]:
cleaned_data.shape

(23106903, 6)

In [31]:
category_tree.head()

   categoryid parentid
0        1016    213.0
1         809    169.0
2         570      9.0
3        1691    885.0
4         536   1691.0

In [32]:
category_tree.shape

(1669, 2)

In [33]:

# import os

# # Create directory if it doesn't exist
# if not os.path.exists("data/processed"):
#     os.makedirs("data/processed")


# cleaned_data.to_csv("data/processed/Processed.csv", index=False)

In [34]:
cleaned_data.head()

     timestamp_x  visitorid event  itemid   timestamp_y  property
1  1433221337106     951259  view  367447  1.437275e+12       0.0
2  1433221337106     951259  view  367447  1.431227e+12     283.0
3  1433221337106     951259  view  367447  1.437880e+12     888.0
4  1433221337106     951259  view  367447  1.442113e+12     888.0
5  1433221337106     951259  view  367447  1.433041e+12     451.0

In [35]:
cleaned_data["event"].value_counts()

event
view           22193786
addtocart        692459
transaction      220658
Name: count, dtype: int64